.tabBar span {
    background-color: #e8e8e8;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px}
.tabBar span.current{
    background-color: blueviolet;
    color: #fff;
}
.tabCon {
    width:286px;
    height:200px;
    background-color: aqua;
}